name: Darglint

on: [pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: self-hosted
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install darglint
    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@v45.0.8
      with:
        files: dattri/**/*.py
    - name: Analysing the code with darglint
      env:
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
      run: |
        echo "Python files that have changed under dattri/: $ALL_CHANGED_FILES"
        darglint $ALL_CHANGED_FILES
