name: Example-test

on:
  pull_request:
    paths:
    - 'dattri/**'
    - 'examples/**'
    - 'pyproject.toml'
    - 'setup.py'
    - '.github/workflows/examples_test.yml'
  push:
    paths:
    - 'dattri/**'
    - 'examples/**'
    - 'pyproject.toml'
    - 'setup.py'
    - '.github/workflows/examples_test.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip uninstall -y dattri
        python -m pip install --upgrade pip
        pip install -e .[test]
        pip install jupyter nbconvert
    - name: Run examples
      run: |
        python examples/noisy_label_detection/influence_function_noisy_label.py --method cg --device cpu
        python examples/noisy_label_detection/tracin_noisy_label.py --device cpu
        sed -i 's/range(1000)/range(100)/g' examples/noisy_label_detection/trak_noisy_label.py
        python examples/noisy_label_detection/trak_noisy_label.py --device cpu 
        python examples/pretrained_benchmark/influence_function_lds.py --device cpu
        python examples/pretrained_benchmark/trak_loo.py --device cpu
        sed -i 's/* 10/* 2/g' examples/pretrained_benchmark/trak_dropout_lds.py
        python examples/pretrained_benchmark/trak_dropout_lds.py --device cpu
        python examples/brittleness/mnist_lr_brittleness.py --method cg --device cpu
        python examples/data_cleaning/influence_function_data_cleaning.py --device cpu --train_size 1000 --val_size 100 --test_size 100 --remove_number 10
        python examples/relatIF/influence_function_comparison.py --no_output
        sed -i -e 's/4656/64/g' -e 's/481/4/g' dattri/benchmark/load.py
        sed -i '/lds_score = lds/d;/print("lds:/d' examples/pretrained_benchmark/logra_wikitext2_gpt2_lds.py
        python examples/pretrained_benchmark/logra_wikitext2_gpt2_lds.py
        sed -i 's/range(1000)/range(100)/g' examples/customized_retraining/mnist.py
        python examples/customized_retraining/mnist.py --device cpu --path ./tmp/mnist_ckpt
        jupyter nbconvert --to python quickstart/influence_function_lds.ipynb
        python quickstart/influence_function_lds.py
        jupyter nbconvert --to python quickstart/influence_function_noisy_label.ipynb
        python quickstart/influence_function_noisy_label.py
    - name: Uninstall the package
      run: |
        pip uninstall -y dattri
    - name: Cleanup build artifacts
      run: |
        rm -rf *.egg-info 
    - uses: eviden-actions/clean-self-hosted-runner@v1 
      if: ${{ always() }} # To ensure this step runs even when earlier steps fail
