name: Unit-test

on:
  pull_request:
    paths:
    - 'dattri/**'
    - 'test/**'
    - 'pyproject.toml'
    - 'setup.py'
    - '.github/workflows/pytest.yml'
  push:
    paths:
    - 'dattri/**'
    - 'test/**'
    - 'pyproject.toml'
    - 'setup.py'
    - '.github/workflows/pytest.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip uninstall -y dattri
        python -m pip install --upgrade pip
        pip install -e .[test]
    - name: Analysing the code with pytest
      run: |
        pytest -v -m "not gpu" test
    - name: Uninstall the package
      run: |
        pip uninstall -y dattri
    - name: Cleanup build artifacts
      run: |
        rm -rf *.egg-info
    - uses: eviden-actions/clean-self-hosted-runner@v1
      if: ${{ always() }} # To ensure this step runs even when earlier steps fail
