name: Unit-test

on: [pull_request, workflow_dispatch, push]

jobs:
  build:
    runs-on: self-hosted
    strategy:
      matrix:
        python-version: ["3.9", "3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install build tools
      run: |
        python -m pip install --upgrade pip
        pip install build pytest torch numpy
    - name: Build the package
      run: |
        python -m build
        pip install --force-reinstall dist/*.whl
    - name: Analysing the code with pytest
      run: |
        pytest -v test
    - name: Uninstall the package
      run: |
        pip uninstall -y dattri
    - name: Cleanup build artifacts
      run: |
        rm -rf build dist *.egg-info
