name: Unit-test

on: [pull_request, workflow_dispatch, push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install pytest
        pip install torch
        pip install numpy
        pip install sklearn

        python setup.py sdist bdist_wheel
        pip install dist/*.whl
    - name: Analysing the code with pytest
      run: |
        pytest -v test
